# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
List popular languages for Data Science
- Python
- R
- SQL
- Java
- Julia

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. SciKit-Learn

### Table for Data Science Tools
<table>
    <tr>
        <th>
            Data Science Tools
        </th>
     </tr>
     <tr>
        <th>
           RStudio 
        </th>
     </tr>
     <tr>
        <th>
            Apache Spark
        </th>
     </tr>
     <tr>
        <th>
            TensorFlow
        </th>
     </tr>    
</table>

#### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#### This a simple arithmetic expression to mutiply then add integers
eval ("3 * 4 + 5")

17

In [3]:
#### This will convert 200 minutes to hours by diving by 60
eval ("200 / 60")

3.3333333333333335

## Author
Kousik Mukherjee